:host {
    display: table;
    margin: 8px;
    font-family: sans-serif;
    padding: 4px;
    border-radius: 4px;
    vertical-align: middle;
    background-color: #ddd;
}

:host(.active) {
    background-color: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: table-cell;
}

input {
    padding: 4px 8px;
    border: none;
    font-size: 32px;
    color: #ddd;
    text-transform: uppercase;
}

label.lowercase,
input.lowercase {
    text-transform: lowercase;
}

input:focus {
    outline: none;
    color: #555;
}

label {
    font-size: 32px;
    width: 42px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    color: #fff;
}

::-webkit-input-placeholder {
    color: #ddd;
}

::-moz-placeholder {
    color: #ddd;
}

:-ms-input-placeholder {
    color: #ddd;
}
